<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yang.newcourse.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.yang.newcourse.entity.Course">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="brief" property="brief" />
        <result column="img_url" property="imgUrl" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, brief, img_url, state
    </sql>

    <select id="getEnrolled" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from course_user
        left join course on course_id = id where user_id = #{id};
    </select>
</mapper>
