<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yang.newcourse.mapper.QuizMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.yang.newcourse.entity.Quiz">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="course_id" property="courseId" />
        <result column="start_time" property="startTime" />
        <result column="deadline" property="deadline" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, course_id, start_time, deadline
    </sql>

</mapper>
